<div>
    <h2 id="page-heading">
        <span jhiTranslate="cellaApp.site.home.title">Sites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-site" [routerLink]="['/site/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cellaApp.site.home.createLabel">
            Create new Site
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cellaApp.site.description">Description</span></th>
            <th><span jhiTranslate="cellaApp.site.siteStatus">Site Status</span></th>
            <th><span jhiTranslate="cellaApp.site.site">Site</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let site of sites ;trackBy: trackId">
                <td><a [routerLink]="['/site', site.id, 'view' ]">{{site.id}}</a></td>
                <td>{{site.description}}</td>
                <td jhiTranslate="{{'cellaApp.SiteStatus.' + site.siteStatus}}">{{site.siteStatus}}</td>
                <td>
                    <div *ngIf="site.site">
                        <a [routerLink]="['../customer', site.site?.id, 'view' ]" >{{site.site?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/site', site.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/site', site.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'site/'+ site.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
