<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="cellaApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!inventory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="inventory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cellaApp.inventory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="inventory.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cellaApp.inventory.inventory" for="field_inventory">Inventory</label>
                    <select class="form-control" id="field_inventory" name="inventory" [(ngModel)]="inventory.inventory" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitMeasureOption.id === inventory.inventory?.id ? inventory.inventory : unitMeasureOption" *ngFor="let unitMeasureOption of unitmeasures; trackBy: trackUnitMeasureById">{{unitMeasureOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cellaApp.inventory.inventory" for="field_inventory">Inventory</label>
                    <select class="form-control" id="field_inventory" name="inventory" [(ngModel)]="inventory.inventory" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inventoryCategoryOption.id === inventory.inventory?.id ? inventory.inventory : inventoryCategoryOption" *ngFor="let inventoryCategoryOption of inventorycategories; trackBy: trackInventoryCategoryById">{{inventoryCategoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cellaApp.inventory.inventory" for="field_inventory">Inventory</label>
                    <select class="form-control" id="field_inventory" name="inventory" [(ngModel)]="inventory.inventory" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="producerOption.id === inventory.inventory?.id ? inventory.inventory : producerOption" *ngFor="let producerOption of producers; trackBy: trackProducerById">{{producerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
